.overlay {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
}

.pop-up {
  width: 900px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
  background-color: #fff;
}
.heading {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 30px 20px;
  border-bottom: 2px solid #dd4247;
}

.fail-heading {
  margin-left: 20px;
}

.fail-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  p {
    color: #dd4247;
    font-size: 2.4rem;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigate {
  
  position: absolute;
  bottom: 30px;
  left: 93%;
  transform: translateX(-50%);

  .navigate-link {
    text-decoration: none;
    cursor: pointer;
    width: 40%;
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 0.05px;
    border: 1px solid #dd4247;
    background-color: #dd4247;
    margin-right: 10px;
  }

  .navigate-link:hover {
    color: #dd4247;
    background-color: transparent;
  }
}
