.container {
  width: 100%;
  min-height: calc(100vh - 78px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #fff;
}

.head-text p {
  text-align: center;
  color: var(--primary);
  font-size: 4.8rem;
  font-weight: 500;
}

.header-subText {
  padding: 30px 0;
}

.sub-error {
  color: #E76161;
  font-size: 2rem;
}


.text {
  position: relative;
  border-bottom: 1px solid #adadad;
  margin: 30px 0;
}
.text input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  background: none;
  font-size: 1.8rem;
  border: none;
  outline: none;
}


.text label {
  position: absolute;
  top: 60%;
  left: 5px;
  color: #adadad;
  transform: translateY(-60%);
  font-size: 1.8rem;
  pointer-events: none;
  transition: 0.5s;
}

.text span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--primary);
  transition: 0.5s;
}
.text input:focus ~ label,
.text input:valid ~ label {
  top: -5px;
  color: var(--primary);
}
.text input:focus ~ span::before,
.text input:valid ~ span::before {
  width: 100%;
}

.btn-submit button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 30px;
  font-size: 2.2rem;
  color: #e9f4fb;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
  transition: 0.9s ease;
  border: 1px solid var(--primary);
  background: var(--primary);
}

.btn-submit button:hover {
  color: var(--primary);
  background-color: transparent;
}

.btn-submit button[disabled] {
  opacity: .6;
  cursor: default;
}

.btn-submit button[disabled]:hover {
  color: #fff;
  background: var(--primary);
}