.chart_wrapper {
  width: 100%;
  height: 100%;
  margin-top: 71px;

  .chart_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;

    .chart_content {
      width: 80%;
      height: fit-content;
      margin-top: 20px;

      .chart-content_header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: #fff;

        .chart-btn {
          width: 25%;
          height: 50px;
          font-size: 1.8rem;
          border: none;
          outline: none;
          background-color: transparent;
          border-bottom: 3px solid transparent;
        }

        .active {
          color: var(--primary);
          border-bottom: 3px solid var(--primary);
        }
      }

      .chart-content_dataChart {
        width: 100%;
        height: fit-content;
        margin-top: 20px;
        padding: 24px;
        background-color: #fff;

        .dataChart-title {
          font-size: 2rem;
          font-weight: 500;
        }

        .dataChart-widget {
          width: 100%;
          margin-top: 24px;
          padding-bottom: 24px;
          display: grid;
          grid-template-columns: auto auto auto auto auto;
          column-gap: 20px;
        }

        .dataChart-chart-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;

          .chart-title {
            font-size: 2rem;
          }

          .chart-count {
            .count {
              max-width: 20px;
              min-width: 20px;
            }
          }

          .chart-count {
            font-size: 1.4rem;
            color: #999999;
          }
        }

        .dataChart-chart-data {
          width: 100%;
          height: 460px;
        }
      }

      .chart-content_moreChart {
        width: 100%;
        height: 450px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .chart-content_pieChart {
          width: 55%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .pieChart-quantity {
            width: 50%;
            height: 100%;
            padding: 15px;
            background-color: #fff;

            .title {
              font-size: 1.8rem;
              text-align: center;
            }

            .pieChart {
              margin-top: 25px;
              width: 100%;
              height: 380px;
            }
          }

          .pieChart-revenue {
            width: 50%;
            height: 100%;
            padding: 15px;
            background-color: #fff;

            .title {
              font-size: 1.8rem;
              text-align: center;
            }

            .pieChart {
              margin-top: 25px;
              width: 100%;
              height: 380px;
            }
          }
        }

        .chart-content_barChart {
          width: 44%;
          height: 100%;
          padding: 15px;
          background-color: #fff;

          .title {
            font-size: 1.8rem;
          }

          .barChart {
            margin-top: 25px;
            width: 100%;
            height: 368px;
          }
        }
      }
    }
  }
}
