.profile-wrapper {
  width: 100%;
  min-height: calc(100vh - 101px);
  display: flex;
  justify-content: center;
  padding: 30px 0 0 0;
}

.profile-container {
  width: 1500px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px 0 0 12px;
}

.profile-content {
  border: 1px solid var(--primary);
  border-radius: 12px 0 0 12px;
  display: flex;
  min-height: 850px;
  height: 100%;
}

.left-content {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 12px 0 0 12px;
  background-color: var(--primary);
}

.user-avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.user-avatar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
}

.user-avatar-img img {
  width: 180px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.user-name {
  margin-top: 15px;
  p {
    font-size: 2rem;
    color: #fff;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.nav-active {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 35px 0 0 35px;
  color: #fff;
}

.icon-sidebar {
  font-size: 1.8rem;
  margin-right: 40px;
}

.nav-active:hover {
  color: #fff;
}

.nav-text {
  font-size: 2rem;
}

.right-content {
  flex-basis: 75%;
  margin: 0 85px;
}

.right-content-head {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #aaaa;
}

.setting-title {
  margin-top: 60px;

  p {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--primary);
  }
}

.setting-content {
  margin-top: 90px;
}

.pass {
  width: 450px;
  position: relative;
  border-bottom: 1px solid #adadad;
  margin-top: 60px;
}

.pass input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  background: none;
  font-size: 1.6rem;
  border: none;
  outline: none;
}

.pass label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 1.8rem;
  pointer-events: none;
  transition: 0.5s;
}

.pass span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--primary);
  transition: 0.5s;
}
.pass input:focus ~ label,
.pass input:valid ~ label {
  top: -5px;
  color: var(--primary);
}
.pass input:focus ~ span::before,
.pass input:valid ~ span::before {
  width: 100%;
}

.input-group-btn {
  position: relative;
}

.eyes-btn {
  position: absolute;
  right: 0;
  bottom: 0px;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}

.save {
  margin-top: 68px;
  margin-bottom: 100px;
  margin-left: 0;

  .save-btn {
    padding: 8px 28px;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
  }

  .save-btn:hover {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
  }
}

.error {
  width: 450px;
  margin-top: 40px;
}
