.container {
  width: 100%;
  min-height: calc(100vh - 78px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 500px;
  background-color: #fff;
}
.head-text {
  margin-bottom: 30px;
}
.head-text p {
  text-align: center;
  color: var(--primary);
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.info {
  width: 100%;
}
.text-content {
  display: flex;
}

.text {
  position: relative;
  border-bottom: 1px solid #adadad;
  margin: 0 0 30px 0;
}

.text-1 {
  width: 100%;
  margin-right: 30px;
}

.text-2 {
  width: 100%;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.text input,
.show-hide input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  background: none;
  font-size: 1.6rem;
  border: none;
  outline: none;
}

.text label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 1.8rem;
  pointer-events: none;
  transition: 0.5s;
}

.text span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--primary);
  transition: 0.5s;
}
.text input:focus ~ label,
.text input:valid ~ label {
  top: -5px;
  color: var(--primary);
}
.text input:focus ~ span::before,
.text input:valid ~ span::before {
  width: 100%;
}

.input-group-btn {
  position: relative;
}

.eyes-btn {
  position: absolute;
  right: 0;
  bottom: 0px;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}

.icon-password {
  user-select: none;
}

.error {
  margin-bottom: 30px;
}

.btn-submit button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 30px;
  font-size: 2.2rem;
  color: #e9f4fb;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  transition: 0.9s ease;
  border: 1px solid var(--primary);
  background: var(--primary);
}

.btn-submit button:hover {
  color: var(--primary);
  background-color: transparent;
}

.btn-submit button[disabled] {
  opacity: 0.6;
  cursor: default;
}

.btn-submit button[disabled]:hover {
  color: #fff;
  background: var(--primary);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  a {
    font-weight: 600;
    text-decoration: none;
    color: #333;
  }

  a:hover {
    color: var(--primary);
  }
}
.gender-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: 30px;

  p {
    color: #adadad;
    font-size: 1.9rem;
  }
}
.gender {
  position: relative;
  display: flex;
  gap: 20px;
  margin-left: 85px;

  label {
    position: relative;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;

    input {
      appearance: none;
    }

    i {
      position: relative;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    i::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #adadad;
      transform: rotate(45deg);
      transition: 0.5s;
    }

    i::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #adadad;
      transform: rotate(315deg);
      transition: 0.5s;
    }

    input:checked ~ i::before {
      width: 50%;
      transform: rotate(45deg) translate(-4px, 9px);
    }

    input:checked ~ i::before,
    input:checked ~ i::after {
      background: var(--primary);
    }

    input:checked ~ span {
      color: var(--primary);
    }

    input:checked ~ span::before {
      border: 1px solid var(--primary);
    }

    span {
      color: #adadad;
      font-size: 1.6rem;
      transition: 0.5s;
    }

    span::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #adadad;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      box-sizing: border-box;
      pointer-events: none;
      transition: 0.5s;
    }
  }
}
