:root {
  --swiper-theme-color: rgb(74, 238, 9);
}

// ---------CONTAINER---------
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background-color: rgb(244, 244, 244);
}

.content {
  margin-bottom: 80px;
  width: var(--width);
}

// ---------CATEGORIES---------
.categories-container {
  padding: 30px;
  background-color: #fff;
}

.categories-heading {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.cate-icon {
  font-size: 2.8rem;
  margin-right: 15px;
  font-weight: 500;
  color: var(--primary);
}

.cate-text {
  user-select: none;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--primary);
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: 0.25s ease;
}

.category-item {
  width: 200px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .item-img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .item-type {
    margin-bottom: 20px;
    .type-text {
      font-size: 1.7rem;
      font-weight: 500;
      color: var(--primary);
    }

    .type-subText {
      font-size: 1.2rem;
      color: #333;
    }
  }
}

// ---------FLASH SALE---------
.flashSale-container {
  margin-top: 50px;
  padding: 30px;
  background-color: #fff;
}

.flashSale-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.flashSale-more {
  display: flex;
  align-items: center;

  .more-item {
    text-decoration: none;
    color: var(--flash_sale-primary);
  }
}

.flashSale-heading {
  display: flex;
  align-items: center;

  .flashSale-text-1 {
    font-size: 2.2rem;
    letter-spacing: 0.6px;
    font-weight: bold;
    color: var(--flash_sale-primary);
  }

  .flashSale-text-2 {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--flash_sale-primary);
  }

  .countdown-minute {
    min-width: 34px;
    line-height: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 10px;
    padding: 0px 8px;
    text-align: center;
    background-color: #333;
    color: #fff;
  }

  .countdown-second {
    min-width: 34px;
    line-height: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 5px;
    padding: 0px 8px;
    text-align: center;
    background-color: #333;
    color: #fff;
  }
}
.flashSale-items {
  text-decoration: none;
  position: relative;
}
.flashSale-item {
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin: 20px 0;
}

.item-img {
  width: 100%;

  img {
    width: 90%;
    height: 90%;
  }
}

.item-discount {
  position: absolute;
  top: 0;
  right: 8px;
  padding: 5px 2px;
  flex-direction: column;
  width: 42px;
  height: 38px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 100%,
    48% 84%,
    0 100%,
    0 100%,
    0 0
  );
  background-color: var(--flash_sale-primary);
}

.per-discount {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.item-name {
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  height: 27px;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--flash_sale-primary);
}

.item-price {
  margin-top: 5px;
  color: #333;
}

.price {
  margin-right: 2px;
}

.item-status {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loading {
  width: 150px;
  height: 20px;
  border-radius: 9px;
  overflow: hidden;
  background-color: #f3afafcd;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.loading::before {
  content: "";
  width: 100px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9px 0 0 9px;
  background-color: var(--flash_sale-primary);
}

.loading-text {
  font-weight: 500;
  color: #fff;
  font-size: 1.2rem;
  z-index: 1;
}
//control flash sale button
.controlfs-btn .next,
.controlfs-btn .prev {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  z-index: 5;
  border: none;
  text-decoration: none;
  text-align: center;
  color: var(--flash_sale-primary);
  font-size: 16px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.controlfs-btn .next {
  top: calc(50% - 30px);
  right: -45px;
  border: none;
  position: absolute;
  transition: .3s;

  &:hover {
    top: calc(50% - 40px);
    right: -55px;
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

.controlfs-btn .prev {
  top: calc(50% - 30px);
  left: -45px;
  border: none;
  position: absolute;
  transition: .3s;

  &:hover {
    top: calc(50% - 40px);
    left: -55px;
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

// ---------BEST SELLER---------
.best-seller_container {
  position: relative;
  margin-top: 50px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}

.best-seller_title p {
  font-size: 2.2rem;
  font-weight: 500;
  color: #ff7c33;
  margin: 0 0 30px 0;
  user-select: none;
}

.best-seller_item {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  justify-content: center;
  text-align: center;
  height: max-content;
  margin: 0 20px;
  background-color: white;
}

.best-seller_top {
  width: 40px;
  height: 40px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #ff7c33;
  color: #fff;
}

.best-seller_top p {
  font-size: 1.5rem;
}

.best-seller_top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.bitem-name {
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  height: 27px;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #ff7c33;
}

.item-sells {
  background-color: rgba(0, 0, 0, 0.37);
  color: #fff;
  margin-top: 10px;
}

.item-sells span {
  font-size: 1.4rem;
  margin: 100px 0;
}

//control best seller button
.controlbs-btn .next,
.controlbs-btn .prev {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  z-index: 5;
  border: none;
  text-decoration: none;
  text-align: center;
  color: #ff7a3393;
  font-size: 16px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  // &:hover i {
  //   margin: 15px;
  // }
}

.controlbs-btn .next {
  top: calc(50% - 30px);
  right: -45px;
  border: none;
  position: absolute;
  transition: .3s;

  &:hover {
    top: calc(50% - 40px);
    right: -55px;
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

.controlbs-btn .prev {
  top: calc(50% - 30px);
  left: -45px;
  border: none;
  position: absolute;
  transition: .3s;

  &:hover {
    top: calc(50% - 40px);
    left: -55px;
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

// ---------SHOP TRENDING---------

.shop-trending-container {
  margin-top: 50px;
  padding: 30px;
  background-color: #fff;
}

.shop-trending-top {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--primary);
}

.shop-trending-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.shop-item {
  display: flex;
  align-items: center;
  width: 32%;
  padding: 24px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #333;
  background-color: #fff;
}

.shop-item:hover {
  color: #333;
}

.shop-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.head-text {
  h3 {
    margin-bottom: 0;
  }
}

.rating {
  display: flex;
  align-items: center;

  .rating-text {
    margin-right: 10px;
    font-size: 1.4rem;
  }

  .rating-icon {
    margin-top: 5px;
  }

  .rate {
    font-size: 1.6rem;
  }
}

.shop-img {
  width: 50px;
  height: 50px;

  img {
    width: 100%;
  }
}

.contact {
  margin-top: 5px;

  .chat {
    outline: none;
    padding: 3px 5px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 1.4rem;
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: transparent;

    .icon-chat {
      margin-right: 10px;
      color: var(--primary);
    }
  }

  .view {
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 1.4rem;
    text-decoration: none;
    outline: none;
    border: 1px solid #333;
    color: #333;
    background-color: transparent;

    .icon-view {
      margin-right: 10px;
      color: #333;
    }
  }
}


//----------PRODUCT-------------
.product_container {
  background-color: white;
  width: 100%;
  margin-top: 50px;
  position: relative;
  padding: 30px;

}

.product_title {
  margin-bottom: 30px; 
  font-size: 2.2rem;
  color: var(--primary);
  font-weight: 500;
}

.product_title p {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--primary);
  user-select: none;
}

.product_list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  width: fit-content;
  row-gap: 40px;
  column-gap: 40px;
  margin: 0 auto;
}

.product_items {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px 15px;
  position: relative;
}

.product-img {
  width: 100%;

  img {
    width: 90%;
  }
}

.product-name {
  width: 100%;
  height: 25px;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.rate_icon {
  font-size: 1.2rem;
  color: #ffd839;
}

.price_before {
  text-decoration: line-through;
  font-size: 1.4rem;
  color: #0000008a;
}

.product-price {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary);
}

.btn_add {
  border: none;
  background-color: var(--primary);
  color: white;
  padding: 4px 8px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 1.4rem;
  border-radius: 2px;
  margin-right: 10px;
}
