.category_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 121px 0 20px 0;
  background-color: rgb(244, 244, 244);

  .category_container {
    width: var(--width);
    margin-bottom: 50px;

    .category_banner {
      width: 100%;
      height: 360px;
      position: relative;

      .category-img {
        width: 100%;
        height: 100%;
      }

      .category-header {
        width: 550px;
        position: absolute;
        top: 120px;
        left: 33%;
        transform: translateX(-50%);
        color: #fff;

        .title {
          font-size: 5rem;
          font-weight: 500;
        }

        .sub-title {
          font-size: 2rem;
        }
      }
    }

    .category_top-shop {
      margin-top: 30px;
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 30px;

      .shop_item {
        width: 380px;
        display: flex;
        align-items: center;
        padding: 20px;
        text-decoration: none;
        color: #333;
        background-color: #fff;
        transition: 0.25s ease;

        &:hover {
          transform: translateY(-3px);
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        .shop-avatar {
          width: 80px;
          height: 80px;
          margin-right: 25px;
        }

        .shop-info {
          .shop-name {
            width: 215px;
            height: 24px;
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }

          .shop-rating {
            display: flex;
            align-items: center;

            .rating-total {
              margin-right: 10px;
              font-size: 1.4rem;

              .rating-real {
                font-size: 1.6rem;
              }
            }

            .rating-icon {
              .rate_icon {
                font-size: 1.2rem;
                color: gold;
              }
            }
          }

          .shop-contact {
            margin-top: 5px;
            display: flex;
            align-items: center;

            .chat {
              height: 31px;
              padding: 4px 10px;
              outline: none;
              border: 1px solid var(--primary);
              background-color: transparent;
              margin-right: 10px;

              i {
                margin-right: 5px;
                font-size: 1.4rem;
                color: var(--primary);
              }

              span {
                color: var(--primary);
              }
            }

            .view {
              height: 31px;
              padding: 3px 10px;
              outline: none;
              text-decoration: none;
              border: 1px solid var(--primary);
              background-color: transparent;

              i {
                margin-right: 5px;
                font-size: 1.4rem;
                color: var(--primary);
              }

              span {
                color: var(--primary);
              }
            }
          }
        }
      }
    }

    .category_sort-bar {
      width: 100%;
      height: 70px;
      padding: 15px 20px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      background-color: #ededed;

      .sort-bar-label {
        font-size: 1.4rem;
        margin-right: 25px;
        color: #555555;
      }

      .sort-by-options {
        .option-btn {
          padding: 5px 15px;
          margin-right: 10px;
          border-radius: 2px;
          border: none;
          outline: none;
          background-color: #fff;
          color: #333;
        }

        .option-btn-active {
          padding: 5px 15px;
          margin-right: 10px;
          border-radius: 2px;
          border: none;
          outline: none;
          background-color: var(--primary);
          color: #fff;
        }
      }

      .sort-by-price {
        cursor: pointer;
        width: 200px;
        padding: 5px 15px 5px 0;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        color: #333;

        .price-text {
          margin: 0 15px;
        }

        .price-text-active {
          margin: 0 15px;
          color: var(--primary);
        }
      }

      .price-sort-options {
        width: 200px;
      }

      .option {
        cursor: pointer;
        padding: 10px;
      }

      .option:hover {
        color: var(--primary);
      }
    }

    .category_list-product {
      width: var(--width);
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      column-gap: 15px;
      row-gap: 15px;
      margin-top: 30px;

      .category_item {
        position: relative;
        width: 228px;
        height: 380px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #333;
        border: 1px solid transparent;
        background-color: #fff;
        transition: 0.1s ease;

        &:hover {
          transform: translateY(-2px);
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        .item-image {
          width: 228px;
          height: 210px;
          padding: 10px 10px 0 10px;
        }

        .item-content {
          padding: 10px 10px;

          .item-name {
            width: 100%;
            height: 63px;
            font-size: 1.4rem;
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
          }

          .item-price {
            padding-top: 10px;
            display: flex;
            align-items: center;

            .real-price {
              margin-right: 15px;
              font-size: 1.4rem;
              text-decoration: line-through;
              color: #0000008a;
            }

            .sale-price {
              font-size: 1.8rem;
              color: var(--primary);
            }
          }

          .rating_sold {
            margin-top: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .product-rating {
              display: flex;
              align-items: center;
            }

            .sold {
              padding-left: 40px;
              font-size: 1.2rem;
              color: #000000de;
            }
          }
        }
      }
    }

    .category_more-products {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .prev,
      .next {
        width: 40px;
        height: 30px;
        margin: 0px 12px;
        background-color: transparent;
        border: 1px solid transparent;
      }

      .prev-icon,
      .next-icon {
        padding: 5px 2px;
        font-size: 1.4rem;
      }

      .page,
      .page-active {
        width: 40px;
        height: 30px;
        margin: 0px 12px;
        border-radius: 3px;
      }

      .page {
        border: none;
        outline: none;
        background-color: transparent;
      }

      .page-active {
        outline: none;
        color: #fff;
        border: 1px solid var(--primary);
        background-color: var(--primary);
      }
    }
  }
}
