.overlay {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
}

.pop-up {
  width: 350px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
  background-color: #fff;
}

.img-success {
  width: 150px;
  height: 150px;
  background-image: url('../../../assets/images/verify1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-success {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-heading {
  letter-spacing: 0.05px;
  text-align: center;
  margin: auto;
}

.success-text {
  padding: 20px 0;
  line-height: 30px;
  letter-spacing: 0.05px;
  text-align: center;
  margin: auto;
}

h1 {
  color: #f5554a;
  font-size: 3rem;
}

.email {
  color: #f5554a;
  text-decoration: underline;
}

.navigate {
  margin-top: 20px;
  text-align: center;
}

p {
  font-size: 1.8rem;
}

.navigate-link {
  text-decoration: none;
  cursor: pointer;
  width: 40%;
  outline: none;
  border: none;
  font-size: 1.6rem;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 0.05px;
  border: 1px solid #f5554a;
  background-color: #f5554a;
}

.navigate-link:hover {
  color: #f5554a;
  background-color: transparent;
}
