.report-product {
  padding: 0 20px;

  .report-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #f6f6f6;

    .user {
      width: 200px;
      text-align: center;
    }

    .shop {
      width: 200px;
      text-align: center;
    }

    .type-reason {
      width: 350px;
      text-align: center;
    }

    .reason {
      width: 350px;
      text-align: center;
    }

    .actions {
      width: 110px;
      text-align: center;
    }
  }

  .report-list {
    .report-item {
      height: 77px;
      display: flex;
      align-items: center;
      padding: 16px 15px;
      margin-top: 20px;
      font-size: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      .rp-user {
        width: 200px;
        display: flex;
        align-items: center;

        .avatar-user {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .user-name {
          width: 130px;
          margin-left: 10px;
          word-wrap: break-word;
          white-space: normal;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }

      .rp-shop {
        width: 200px;
        display: flex;
        align-items: center;

        .shop-avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .shop-name {
          width: 130px;
          margin-left: 10px;
          word-wrap: break-word;
          white-space: normal;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }

      .rp-type-reason {
        width: 350px;
        text-align: center;

        .text {
          width: 330px;
          word-wrap: break-word;
          white-space: normal;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }

      .rp-reason {
        width: 350px;
        text-align: center;

        .text {
          width: 330px;
        }
      }

      .rp-actions {
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;

        .ban-btn {
          width: 50px;
          height: 28px;
          font-size: 1.6rem;
          font-weight: 500;
          outline: none;
          margin-right: 5px;
          border-radius: 3px;
          border: 1px solid transparent;
          color: #fff;
          background-color: red;
          transition: 0.25s linear;

          &:hover {
            border: 1px solid red;
            color: red;
            background-color: transparent;
          }
        }

        .notify-btn {
          width: 50px;
          height: 28px;
          font-size: 1.6rem;
          font-weight: 500;
          outline: none;
          border-radius: 3px;
          border: 1px solid transparent;
          color: #fff;
          background-color: #528dd7;
          transition: 0.25s linear;

          &:hover {
            border: 1px solid #528dd7;
            color: #528dd7;
            background-color: transparent;
          }
        }
      }
    }
  }

  .prev-next {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .icon-left,
    .icon-right {
      outline: none;
      border: none;
      background-color: transparent;

      i {
        font-size: 2.6rem;
        color: #999999;

        &:hover {
          color: var(--primary);
        }
      }
    }

    .icon-left {
      margin-right: 30px;
    }

    .icon-right {
      margin-left: 30px;
    }
  }
}
