.about-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    width: var(--width);
}
.about-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
}
.about-description p{
    font-size: 15px;
}
.about-description p:first-child {
    font-size: 20px;
    font-weight: 600;
}

.about-image img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.about-info {
    display: flex;
    justify-content: space-between;
}

.about-details {
    padding: 0 20px;
    background-color: rgb(84, 175, 108);
    border: 0.2px solid rgba(0, 0, 0, 0.019);
    border-radius: 7px;
    width: 47%;
}

.about-details h3 {
    font-size: 20px;
    padding: 15px 0px;
}

.about-details h5 {
    font-weight: bolder;
    font-size: 14px;
}

.about-details p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
